.navigationsleiste {
	background-color: #ff9800;
	overflow: hidden;
	z-index: 998;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
	width: 100%;
	display: block !important;
}

.navigationsleiste a {
    float: left;
    display: block;
    color: #212121;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigationsleiste a:hover, .dropDown:hover  {
    background-color: #ff9800;
}

.dropdownContent a:hover {
	background-color: #ff9800;
}

.navactive {
    background-color: #ff9800;
	font-weight: bolder;
}

.navigationsleiste .icon {
    display: none;
}

.dropDown {
    float: left;
}

.dropDown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: #212121;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #ffab40;
    min-width: 585px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-bottom: 3.5em;
}

.dropdownContent a {
    float: none;
    color: #212121;
	width: 25%;
	display: inline-block;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdownContentErste a.erste {
	width: 100%;
	display: block;
}

.showDropdown {
    display: block !important;
}

@media screen and (max-width: 700px) {
	.navigationsleiste a.navItem:not(:first-child) {display: none;}
	.navigationsleiste a.icon {
		float: right;
		display: block;
	}
	.dropdownContent {
		width: 100%;
		float: left;
		height: auto;
		left: 0px;
		min-width: 0%;
	}
	.dropdownContent a {
		width: 100%
	}
}

@media screen and (max-width: 700px) {
	.navigationsleiste.responsive {position: relative;}
	.navigationsleiste.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.navigationsleiste.responsive .dropdownContent {
		position: relative;
		box-shadow: none;
	}
	
	.navigationsleiste.responsive .dropDown {
		display: block;
		width: 100%;
	}	
	
	.navigationsleiste.responsive a.navItem {
		display: block;
		text-align: left;
	}
}