.road {
	position: absolute;
	width: 30%;
	border-top: 1.2vh dotted white;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	height: 100vh;
	z-index: 1000;
	top: 100%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.pacman {
  position: absolute;
  animation: walk 6s linear infinite;
  top: 50%;
   z-index: 1001;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.pacman:before, .pacman:after{
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  border: solid 5vh #ffff00;
  border-radius: 50%;
  top: -4.8vh;
}
.pacman:before{
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: chompTop 0.2s linear infinite alternate;
}

.pacman::after{
  border-right-color: transparent;
  border-top-color: transparent;
  animation: chompBottom 0.2s linear infinite alternate;
}

#komplett, .pacmanC {
	position: fixed;
	width: 100vw;
	overflow: none;
	transition: opacity 0.7s;
	height: 100vh;
	z-index: 999;
	background: linear-gradient(to top, #262b2f 0%, #4a545b 100%);
}


@keyframes walk {
  0% {
    left: 32%;
    transform: scaleX(1)
  }

  49% {
    left: 65%;
    transform: scaleX(1)
  }

  50% {
    transform: scaleX(-1)
  }

  100% {
    left: 32%;
    transform: scaleX(-1)
  }
}

@media screen and (max-width: 700px) {
	.road {
		width: 80%;
	}
	@keyframes walk {
		0% {
			left: 10%;
			transform: scaleX(1)
		}
		
		49% {
			left: 85%;
			transform: scaleX(1)
		}
		
		50% {
			transform: scaleX(-1)
		}
		
		100% {
			left: 10%;
			transform: scaleX(-1)
		}
}
}




@keyframes chompTop{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(40deg)
  }
}

@keyframes chompBottom{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(-40deg)
  }
}