* {
	font-family: 'Roboto', Calibri, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	height: 100%;
	max-width: 100vw;
	box-sizing: border-box;
}

body {
	background-color: #ecf0f1;
	max-width: 100vw;
	position: relative;
	margin: 0;
	min-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.hrfooter {
	margin-top: 3.2em;
}

.hrfooter2 {
	margin-bottom: 3.2em;
}

.footericon:hover {
	color: lightgray;
}

h1, h2, h3, h4, h5 {
	display: block;
}

.rubrikcardindex {
	border: 1px solid transparent;
}

.rubrikcardindex:hover {
  border: 1px solid #dee2e6 !important;
}

.rubriktab {
	border-collapse: separate;
    border-spacing: 10px;
}

.rubriktab a{
	text-decoration: none;
	color: black;
	font-size: 29px;
}

.mw-12em {
	min-width: 12em;
}

.buttonpadding {
	padding-top: 0.5%;
}

.buttonpadding2 {
	padding-top: 0.2%;
}

a.anzeignenHref {
	text-decoration: none;
}

.center {
    padding: 70px 0;
	margin-top: 50px;
}

.sizeme {
	width: 3em;
}

.custom-control-label:before {
	background-color: white !important; 
}

.nohover, .nohover:hover {
	background-color: inherit !important;
}

form input {
	border: 2px solid black;
}

#table1 {
    border-collapse: separate;
    border-spacing: 10px;
	border: 1px solid black;
}

.footer {
	padding: 15px 0px;
}

.admincard, .accountcard, .anzeigencard, .newscard{
	min-height: 80vh;
}

.d-hidden {
	visibility: hidden;
}

#error-container {
   position: absolute;
   
   top: 50%;
   
   width: 100%;
   height: 10%;
   
   margin-top: -5%;
   text-align: center;
}

#error {
	background-color: #ee3c3c !important; 
}

h1.error-h1 {
	text-shadow: 0px 0px 5px white;
	font-size: 40pt;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: black !important;
}

.custom-control {
	display: inline-block;
}

.rubrikenRow {
	width: 19%;
	display: inline-block;
}

.rubrikenContainer {
	text-align: left;
	padding-left: 40px;
}

.iconCollapseAll {
	transition: 0.5s;
}

.collapsedIcon {
	transform: rotate(180deg);
}

a.href {
	color: #007bff !important;
    text-decoration: none !important;
}

.changeTrigger {
	width: 15%;
}

a.href:hover {
    color: #0056b3 !important;
	cursor: pointer !important;
    text-decoration: underline !important;
}

.change_pwd_email_overlay {
    position: fixed;
    width: 100vw;
    opacity: 0.5;
	z-index: 9999;
    top: 0px;
    margin: 0px;
    height: 100vh;
    background-color: #000;	
}

.socialmedia {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

hr.changes {
	background-color: #697581 !important;
}

#change_pwd_html, #change_email_html {
    position: fixed;
    left: 50%;
    top: 50%;
	overflow-y: auto;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    padding: 40px;
    background-color: #FFF;
    border: 7px solid #343a40;
    z-index: 10000;
    box-shadow: #343a40 0 2px 18px;
}

#account_löschung {
    position: fixed;
    left: 50%;
    top: 50%;
	overflow-y: auto;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    padding: 40px;
    background-color: #FFF;
    border: 7px solid #343a40;
    z-index: 10000;
    box-shadow: #343a40 0 2px 18px;	
}

@media screen and (max-width: 1200px) {
	.rubrikenRow {
	width: 49%;
	display: inline-block;
}

#change_pwd_html {
	left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
}

#change_email_html  {
	left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;	
}
#account_löschung  {
	left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;	
}
}

.einfahren {
	right: -20px;
	bottom: 0px;
	height: 100%;
	width: 10%;
	opacity: 0;
	transition: 0.2s;
	
}

.rubrikcardindex:hover .einfahren { 
	opacity: 1;
	right: 15px;
}

.h5rubriken {
	padding: .75rem 0px;
	height: 100%;
	width: 100%;
}


@media screen and (max-width: 700px) {
		
	.rubrikenRow {
		width: 100%;
		display: inline-block;
	}
	
	.changeTrigger {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#change_pwd_html {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;
	}
	
	#change_email_html  {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;	
	}
	
	#account_löschung  {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;	
	}
	
	.buttonpadding {
		padding-top: 1%;
	}
	
	.buttonpadding2 {
		padding-top: 0.6%;
	}
	
	.rubrikenContainer {
		text-align: left;
		padding-left: 0px;
	}
	
	.rubrikencontainer {
		width: 100% !important;
	}
	
}


