RewriteEngine On

RewriteRule ^startseite?$ index.php

RewriteRule ^adminarea?$ adminarea.php


RewriteRule ^rubriken/bearbeiten?$ rubverwaltung.php
RewriteRule ^rubriken/einsehen?$ rubverwaltung.php
RewriteRule ^rubriken/erstellen?$ rubverwaltung.php


RewriteRule ^anzeigen/erstellen?$ anzadd.php
RewriteRule ^anzeigen/bearbeiten?$ anzdelete.php
RewriteRule ^anzeigen/löschen?$ anzdelete.php
RewriteRule ^anzeigen/einsehen?$ anzeigen.php?rNR=0

RewriteRule ^anzeigen/([0-90000000]+) anzeigen.php?rNR=$1
RewriteRule ^anzeigen/alle?$ anzeigen.php?rNR=0

RewriteRule ^anzeigen/anzeige-([0-90000000]+) anzeigeneinzeln.php?aNR=$1

RewriteRule ^datenschutz?$  datenschutz.php

RewriteRule ^news/([0-90000000]+) news.php?nID=$1
RewriteRule ^news/alle?$ news.php?nID=0
RewriteRule ^news/bearbeiten?$ addnews.php
RewriteRule ^news/erstellen?$ addnews.php
RewriteRule ^news/löschen?$ addnews.php

RewriteRule ^abwicklung-login?$  abwicklungLR.php
RewriteRule ^abwicklung-register?$  abwicklungLR.php
RewriteRule ^logout?$  abwicklungLR.php


RewriteRule ^myaccount?$ myacc.php
RewriteRule ^profil/([a-zA-Z0-9]+)?$ accounts.php?iNR=$1


RewriteRule ^bewerten/([a-zA-Z0-9]+)$ bewertung.php?iNR=$1

RewriteRule ^merkliste?$ merkliste.php
RewriteRule ^benutzerliste?$ benutzerliste.php
RewriteRule ^postfach?$ postfach.php
