
.changeTrigger {
	width: auto;
}

.change_pwd_email_overlay {
    position: fixed;
    width: 100vw;
    opacity: 0.5;
	z-index: 9999;
    top: 0px;
    margin: 0px;
    height: 100vh;
    background-color: #000;	
}

hr.changes {
	background-color: #697581 !important;
}

.myaccimage {
	max-height: auto;
	overflow: hidden;
}

.accimage {
	max-width: 100%;
	min-height: auto;
}

#change_pwd_html, #change_email_html {
    position: fixed;
    left: 50%;
    top: 50%;
	overflow-y: auto;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    padding: 40px;
    background-color: #FFF;
    border: 7px solid #343a40;
    z-index: 10000;
    box-shadow: #343a40 0 2px 18px;
}

#account_löschung {
    position: fixed;
    left: 50%;
    top: 50%;
	overflow-y: auto;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    padding: 40px;
    background-color: #FFF;
    border: 7px solid #343a40;
    z-index: 10000;
    box-shadow: #343a40 0 2px 18px;	
}

.changeHrefsRsp {
	display: block;
}

.changeButtonsRsp {
	display: none;
}

@media screen and (max-width: 1200px) {
	#change_pwd_html {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 70%;
		height: auto;
	}
	
	#change_email_html  {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 70%;
		height: auto;	
	}
	
	#account_löschung  {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 70%;
		height: auto;	
	}
}

@media screen and (max-width: 700px) {
	.changeTrigger {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#change_pwd_html {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;
	}
	
	#change_email_html  {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;	
	}
	
	#account_löschung  {
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;	
	}
	
.changeHrefsRsp {
	display: none;
}

.changeButtonsRsp {
	display: block;
}

}
