

.rubriktab {
	border-collapse: separate;
    border-spacing: 10px;
}

.rubriktab a {
	text-decoration: none;
	color: black;
	font-size: 29px;
}

.center {
    padding: 70px 0px;
	margin-top: 50px;
}



#table1 {
    border-collapse: separate;
    border-spacing: 10px;
	border: 1px solid black;
}
